@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");

$syne: Syne, sans-serif;

$yellow: #f4f806;
$black: rgb(2, 0, 0);
$white: rgb(253, 251, 251);
