@import "./global.scss";
@import "./components/buttons.scss";

:root {
  --app-height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  width: 100%;
  font-size: 10px;
  background-color: $white;
  cursor: url(../assets/images/icons/bee-cursor.svg), auto;
}

a {
  text-decoration: none;
  cursor: url(../assets/images/icons/bee-cursor.svg), auto;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: $syne;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
}

.navbar {
  background-color: $white;
  z-index: 5;
  width: 100%;
  max-width: 114rem;
  margin-right: auto;
  margin-left: auto;
  padding: 2rem;
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav-logo {
  position: relative;
  float: left;
  text-decoration: none;
  color: #333333;
  img.nav-logo-image {
    vertical-align: middle;
    display: inline-block;
    width: 15rem;
  }
}

nav {
  position: relative;
  float: right;
  .unordered-list-menu {
    display: flex;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    .list-menu-item {
      display: list-item;
      overflow: visible;
      text-align: -webkit-match-parent;
      .nav-link {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        padding: 0.5rem 1rem;
        font-family: $syne;
        color: $black;
        font-size: 1.6rem;
        line-height: 2rem;
        font-weight: 600;
        letter-spacing: 0.25px;
        text-decoration: none;
      }
      .nav-link:hover {
        font-weight: 800;
      }
      .list-menu-button-wrapper {
        overflow: visible;
        margin-left: 12rem;
        display: block;
        a {
          background-color: $black;
        }
      }
    }
  }
}

.hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 30rem;
  background-color: $yellow;
  width: 100%;
  .hero-section-wrapper {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    .hero-section-area {
      display: flex;
      max-width: 46%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .hero-section-image {
      width: 100%;
      object-fit: contain;
    }
    .hero-section-text {
      color: $black;
      text-align: center;
    }
    .hero-section-title {
      font-size: 2.6rem;
      font-weight: 800;
      padding-bottom: 3rem;
      text-transform: uppercase;
    }
    .button-wrapper {
      padding: 3rem;
      margin: auto;
    }
  }
}

.custom-shape-divider-top-1667469215 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1667469215 svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 121px;
}

.custom-shape-divider-top-1667469215 .shape-fill {
  fill: #f4f806;
}

.tjanster-section {
  background-color: $white;
  width: 100%;
  position: relative;
  margin-top: -0.5rem;
  padding: 80px 30px;
  .tjanster-section-title {
    padding-top: 6rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .tjanster-section-second-title {
    text-align: center;
    margin: 3rem auto;
    font-weight: 400;
  }
  .tjanster-wrapper {
    display: grid;
    margin-top: 50px;
    grid-auto-columns: 1fr;
    gap: 50px 64px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    .tjanst {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      .tjanst-icon {
        width: 8rem;
      }
      .tjanst-name {
        font-size: 1.4rem;
        font-weight: 600;
        padding-bottom: 3rem;
      }
      .tjanst-explain {
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
  }
}

.testimonial-container {
  margin: 6rem;
  padding: 6rem;
  background-color: $yellow;
  .testimonial-incipit {
    font-size: 2rem;
    font-weight: 800;
    font-family: $syne;
    text-align: center;
    padding-bottom: 3rem;
  }
  .testimonial-text {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: $syne;
    text-align: center;
    padding-bottom: 3rem;
  }
  .testimonial-picture {
    margin: auto;
    height: 10rem;
    width: 10rem;
    img {
      object-fit: cover;
      overflow: hidden;
      border-radius: 50%;
      width: 10rem;
      height: 10rem;
    }
    figcaption {
      font-family: $syne;
      font-size: 1rem;
      font-style: italic;
      text-align: center;
    }
  }
}

.gallery-section {
  position: relative;
  padding: 6rem 3rem;
  .gallery-container {
    width: 100%;
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
    .gallery-wrapper {
      display: grid;
      align-items: start;
      grid-auto-columns: 1fr;
      gap: 3rem;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      .gallery-area {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 20rem;
        .gallery-text-container {
          margin: auto;
        }
        .gallery-title {
          font-size: 1.6rem;
          padding-bottom: 1rem;
        }
        .gallery-image {
          height: 60%;
          object-fit: contain;
          margin: auto;
        }
      }
    }
  }
  .custom-shape-divider-bottom-1667493924 {
    position: absolute;
    bottom: -0.1rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1667493924 svg {
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 121px;
  }

  .custom-shape-divider-bottom-1667493924 .shape-fill {
    fill: #f4f806;
  }
}

footer {
  background-color: $yellow;
  padding-top: 3rem;
  .footer-wrapper {
    display: grid;
    align-items: start;
    grid-auto-columns: 1fr;
    gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    .footer-area {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 20rem;
      margin: 0 auto;
      text-align: center;
      .footer-logo {
        height: 6rem;
        margin: 0 auto;
      }
      .footer-mailto-icon {
        height: 3rem;
        vertical-align: middle;
        padding: 0;
      }
      .footer-address {
        font-family: $syne;
        font-size: 1.2rem;
        text-align: center;
        padding-bottom: 2rem;
      }
      .footer-mailto-text {
        color: $white;
      }
      .footer-mailto-link {
        font-family: $syne;
        font-size: 1.4rem;
        text-transform: uppercase;
        color: $white;
        font-weight: 600;
      }
      .footer-social-text {
        color: $black;
        text-align: center;
      }
      .footer-social-icon {
        height: 4rem;
      }
    }
  }
}
